<div class="container">
 <div class="row">
   <div class="jumbotron">
     <h1>Welcome to Animeffinity</h1>
   </div>
   <div class="row">
     <div class="col-md-12">
       <br/>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-md-6">
     <h2 align="center">Most reviewed</h2>
     <div ng-repeat="work1 in mostRated">
       <div class="panel panel-default">
         <div class="panel-heading">
           <strong>{{work1.titulo}}</strong>
         </div>
         <div class="panel-body">
           <p>{{work1.sinopsis}}</p>
         </div>
       </div>
     </div>
   </div>
   <div class="col-md-6">
     <h2 align="center">Top 10 works</h2>
     <div ng-repeat="work2 in mostRated">
       <div class="panel panel-default">
         <div class="panel-heading">
           <strong>{{work2.titulo}}</strong>
         </div>
         <div class="panel-body">
           <p>{{work2.sinopsis}}</p>
         </div>
       </div>
     </div>
   </div>
 </div>
 </div>
