<div class="container">
 <div class="row">
   <div class="col-md-12">
     <h1>Welcome to Animeffinity</h1>
   </div>
   <div class="row">
     <div class="col-md-12">
       <br/>
     </div>
   </div>
 </div>
 <div class="row">
   <div class="col-md-4">
     <h2>Estrenos</h2>
     <div ng-repeat="x in titles" class="container">
       <h3>{{x.title}}</h3>
       <p>{{x.description}}</p>
     </div>
   </div>
   <div class="col-md-4">
     <h2>Mejor valoradas</h2>
   </div>
   <div class="col-md-4">
     <h2>Más comentadas</h2>
   </div>
 </div>
 </div>
