<!--info and edit user-->
<div class="col-md-12">
  <div class="row">
    <!-- info user-->
    <div class="col-md-8">
      <h2 align="center">Info user</h2>
      <div class="panel-body">
        <div class = "col-md-3">
          <div ng-if="theUser[0].imagen != null">
            <img ng-src="{{theUser[0].imagen}}" class="img-thumbnail" alt="Cinque Terre" width="200" height="200">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-horizontal">
            <div class="form-group">
               <label class="control-label" for="email">Id:</label>
               <div>
                 <p class="form-control-static">{{theUser[0].usuarioID}}</p>
               </div>
             </div>
            <div class="form-group">
               <label class="control-label" for="email">Name:</label>
               <div>
                 <p class="form-control-static">{{theUser[0].nombre}}</p>
               </div>
             </div>
             <div class="form-group">
                <label class="control-label" for="email">Lastname:</label>
                <div>
                  <p class="form-control-static">{{theUser[0].apellidos}}</p>
                </div>
              </div>
              <div class="form-group">
                 <label class="control-label" for="email">Email:</label>
                 <div>
                   <p class="form-control-static">{{theUser[0].correo_electronico}}</p>
                 </div>
               </div>
               <div class="form-group">
                  <label class="control-label" for="email">Username:</label>
                  <div>
                    <p class="form-control-static">{{theUser[0].nombre_usuario}}</p>
                  </div>
                </div>
                <div class="form-group">
                   <label class="control-label" for="email">Imagen:</label>
                   <div>
                     <p class="form-control-static">{{theUser[0].imagen}}</p>
                   </div>
                 </div>
          </div>
          </div>
         </div>
      </div>

    <!-- soulmates-->
    <div class="col-md-4">
      <h2 align="center">Soulmates</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Username</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="soul in soulmates">
                <td><a ng-href="#/user/{{soul.usuarioID}}">{{soul.nombre_usuario}}</a></td>
                <td>{{soul.score}}</td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
  </div>

<!--edit user-->
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div ng-if="myUser.usuarioID == theUser[0].usuarioID" class="panel panel-info login-panel">
      <h2 align="center">Edit user</h2>
       <div class="panel-body">
          <form role="form" class="form-horizontal">
             <div class="form-group">
                <label class="control-label col-md-5" for="name">Name:</label>
                <div class="col-md-6">
                   <input id="name" type="text" class="form-control" placeholder="Name" ng-model="formData.nombre"/>
                </div>
             </div>

             <div class="form-group">
                <label class="control-label col-md-5" for="surname">Lastname:</label>
                <div class="col-md-6">
                   <input id="surname" type="text" class="form-control" placeholder="Lastname" ng-model="formData.apellidos"/>
                </div>
             </div>

             <div class="form-group">
                <label class="control-label col-md-5" for="email">Email:</label>
                <div class="col-md-6">
                   <input id="email" type="text" class="form-control" placeholder="Email" ng-model="formData.email"/>
                </div>
             </div>

             <div class="form-group">
                <label class="control-label col-md-5" for="email">Image:</label>
                <div class="col-md-6">
                   <input id="imagen" type="text" class="form-control" placeholder="URL Image" ng-model="formData.imagen"/>
                </div>
             </div>

             <div class="form-group">
                <label class="control-label col-md-5" for="password1">New password:</label>
                <div class="col-md-6">
                   <input id="password" type="password" class="form-control" placeholder="New password" ng-model="formData.password"/>
                </div>
             </div>

             <button type="submit" class="btn btn-primary col-md-offset-1 col-md-4" ng-click="update(formData.nombre, formData.apellidos, formData.email, formData.imagen, formData.password)">Update user</button>
             <button type="submit" class="btn btn-danger col-md-offset-1 col-md-4" data-toggle="modal" data-target="#myModalToDelete">Delete user</button>
             <!-- Modal -->
              <div class="modal fade" id="myModalToDelete" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                      <p>This user will be deleted permanently</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" ng-click="delete()" data-dismiss="modal">Yes</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of modal -->
          </form>
       </div>
    </div>
  </div>
</div>

<!-- works and reviews -->
<div class="container">
  <div class="row">

    <!--works-->
    <div class="col-md-6">
      <h2 align="center">Works</h2>
      <div class="btn-group" role="group">
        <form role="search" class="form-inline">
          <div class="form-group">
            <select class="form-control" ng-model="selectUserWorks.state">
              <option selected="selected" value="reviewed">Reviewed</option>
              <option value="watched">State: watched</option>
              <option value="watching">State: watching</option>
              <option value="towatch">State: to watch</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default" ng-click="userWorks()">Search</button>
        </form>
      </div>
      <div>
        </br>
      </div>

      <div ng-repeat="work in works">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>
              <a ng-href="#/work/{{work.obraID}}">{{work.titulo}}</a>
            </strong>
          </div>
          <div class="panel-body">
            <strong>Sinopsis: </strong>{{work.sinopsis}}
          </div>
          <ul class="list-group">
            <li class="list-group-item"><strong>Date: </strong>{{work.fecha_inicio}}-{{work.fecha_fin}}</li>
            <li class="list-group-item"><strong>Score: </strong>
              <div data-ng-repeat="i in [1,2,3,4,5]" ng-init="puntuacion = (work.puntuacion_total/work.puntuaciones_recibidas)" style="display: inline">
                <span ng-if="i<=puntuacion" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span ng-if="i>puntuacion" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--reviews-->
    <div class="col-md-6">
      <h2 align="center">Reviews</h2>
      <div ng-repeat="review in reviews">
        <div class="panel panel-default">
          <div class="panel-heading">

            <strong>Title: </strong><a ng-href="#/work/{{review.obraID}}">{{review.titulo}}</a>
          </div>
          <div class="panel-body">
            <strong>Text: </strong>{{review.texto}}
          </div>
          <ul class="list-group">
            <li class="list-group-item"><strong>Date: </strong>{{review.fecha}}</li>
            <li class="list-group-item"><strong>Score: </strong>
              <div data-ng-repeat="i in [1,2,3,4,5]" style="display: inline">
                <span ng-if="i<=review.puntuacion" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span ng-if="i>review.puntuacion" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
