<div class="panel panel-info col-md-offset-3 col-md-6 login-panel">
   <div class="panel-body">
      <form role="form" class="form-horizontal">
         <div class="form-group">
            <label class="control-label col-md-5" for="name">Nombre:</label>
            <div class="col-md-6">
              {{myUser.nombre}}
               <input id="name" type="text" class="form-control" placeholder="Nombre" ng-model="formData.nombre"/>
            </div>
         </div>

         <div class="form-group">
            <label class="control-label col-md-5" for="surname">Apellidos:</label>
            <div class="col-md-6">
              {{myUser.apellidos}}
               <input id="surname" type="text" class="form-control" placeholder="Apellidos" ng-model="formData.apellidos"/>
            </div>
         </div>

         <div class="form-group">
            <label class="control-label col-md-5" for="email">Correo electronico:</label>
            <div class="col-md-6">
              {{myUser.correo_electronico}}
               <input id="email" type="text" class="form-control" placeholder="Correo electronico" ng-model="formData.email"/>
            </div>
         </div>

         <div class="form-group">
            <label class="control-label col-md-5" for="username">Nombre de usuario:</label>
            <div class="col-md-6">
              {{myUser.nombre_usuario}}
               <input id="username" type="text" class="form-control" placeholder="Nombre de usuario" disabled/>
            </div>
         </div>

         <div class="form-group">
            <label class="control-label col-md-5" for="password1">Nueva contraseña:</label>
            <div class="col-md-6">
               <input id="password1" type="password" class="form-control" placeholder="Nueva contraseña" ng-model="formData.password">
            </div>
         </div>

         <!--<div class="form-group">
            <label class="control-label col-md-5" for="password2">Repita contraseña:</label>
            <div class="col-md-6">
               <input id="password2" type="password" class="form-control" placeholder="Repita contraseña">
            </div>
         </div>-->

         <button type="submit" class="btn btn-primary col-md-offset-1 col-md-4" ng-click="update()">Update user</button>
         <button type="submit" class="btn btn-primary col-md-offset-1 col-md-4" ng-click="delete()">Delete user</button>
      </form>
   </div>
</div>


<div class="container">
  <div class="row">
    <h2>Works</h2>
    <form class="navbar-form navbar-left" role="search">
      <select class="selectpicker" data-width="fit" ng-model="typeOfSearch">
        <option value="title">Reviewed</option>
        <option value="author">State: watched</option>
        <option value="genre">State: watching</option>
        <option value="cast">State: to watch</option>
      </select>
      <button type="submit" class="btn btn-default" ng-click="userWorks()">Search</button>
    </form>
    <div class="col-md-6">
      <div ng-repeat="work in works">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>{{work.titulo}}</h4>
          </div>
          <div class="panel-body">
            <p>{{work.sinopsis}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Reviews</h2>
      <div ng-repeat="review in reviews">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Review: {{review.criticaID}}</h4>
          </div>
          <div class="panel-body">
            <p>Film: {{review.obraID}}</p>
            <p>{{review.texto}}</p>
            <p>{{review.fecha}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
