<div class="container">
  <h2>Resultados de la búsqueda</h2>
  <div class="btn-group" role="group">
    <div><strong>Order by: </strong></div>
    <button type="button" class="btn btn-default" ng-click="order('fecha_inicio')">Date</button>
    <span class="sortorder" ng-show="predicate === 'fecha_inicio'" ng-class="{reverse:reverse}"></span>

    <button type="button" class="btn btn-default" ng-click="order('(puntuacion_total/puntuaciones_recibidas)')">Punctuation</button>
    <span class="sortorder" ng-show="predicate === '(puntuacion_total/puntuaciones_recibidas)'" ng-class="{reverse:reverse}"></span>

    <button type="button" class="btn btn-default" ng-click="order('puntuaciones_recibidas')">Popular</button>
    <span class="sortorder" ng-show="predicate === 'puntuaciones_recibidas'" ng-class="{reverse:reverse}"></span>
  </div>
  <div>
    </br>
  </div>
  <div ng-repeat="obra in obras | orderBy:predicate:reverse">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <a ng-href="#/work/{{obra.obraID}}">{{obra.titulo}}</a>
        </strong>
      </div>
      <div class="panel-body">
        <div ng-if="obra.imagen!=null" class="col-md-2">
           <img width="180" class="img-thumbnail"  ng-src="{{obra.imagen}}" />
       </div>
        <strong>Sinopsis: </strong>{{obra.sinopsis}}
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong>Work id: </strong>{{obra.obraID}}</li>
        <li class="list-group-item"><strong>Date: </strong>{{obra.fecha_inicio}}-{{obra.fecha_fin}}</li>
        <li class="list-group-item"><strong>Score: </strong>
          <div data-ng-repeat="i in [1,2,3,4,5]" ng-init="puntuacion = (obra.puntuacion_total/obra.puntuaciones_recibidas)" style="display: inline">
            <span ng-if="i<=puntuacion" class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span ng-if="i>puntuacion" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
