<div class="container">
  <div class="row">
    <div class="col-md-4" >
      <div class="well">
      <h1>{{work[0].titulo}}</h1>
      <br/>
      <div ng-if="work[0].imagen == null">
        <img src="images/image-not-found.jpeg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
      </div>
      <div ng-if="work[0].imagen != null">
        <img ng-src="{{work[0].imagen}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
      </div>
      <br/>
      <table class="table table-striped">
        <tbody>
          <tr ng-if="isLogged">
            <td>
              <strong>State</strong>
            </td>
            <td ng-if="myState[0] == null">
              no vista
            </td>
            <td ng-if="myState[0] != null">
              {{myState[0].estado}}
            </td>
          </tr>
          <tr ng-if="isLogged">
            <td>
              <strong>State</strong>
            </td>
            <td>
              <div class="btn-group" role="group">
                <form role="search" class="form-inline">
                  <div class="form-group">
                    <select class="form-control" ng-model="$parent.state">
                      <option value="no_vista">No vista</option>
                      <option value="vista">Vista</option>
                      <option value="viendo">Viendo</option>
                      <option value="pendiente">Pendiente</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="setStateWorkAs()">Set state</button>
                </form>
              </div>
            </td>
          </tr>
          <tr ng-if="isLogged">
            <td>
              <strong>Punctuate</strong>
            </td>
            <td>
              <div class="btn-group" role="group">
                <form role="search" class="form-inline">
                  <div class="form-group">
                    <select class="form-control" ng-model="$parent.punctuation">
                      <option selected="selected" value="1">
                        1 star
                      </option>
                      <option value="2">
                        2 stars
                      </option>
                      <option value="3">
                        3 stars
                      </option>
                      <option value="4">
                        4 stars
                      </option>
                      <option value="5">
                        5 stars
                      </option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="punctuateWork()">Vote</button>
                </form>
              </div>
            </td>
          </tr>
          <tr ng-if="isLogged">
            <td>
              <strong>Your puntuation</strong>
            </td>
            <td>
              <div ng-if="myReview.puntuacion == null">
                <!-- no hay review -->
                <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
              </div>
              <div ng-if="myReview.puntuacion != null">
                <!-- si hay review -->
                <div data-ng-repeat="i in [1,2,3,4,5]" style="display: inline">
                  <span style="font-size:2.0em;" ng-if="i<=(myReview.puntuacion)" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span style="font-size:2.0em;" ng-if="i>(myReview.puntuacion)" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Score</strong>
            </td>
            <td>
              <span ng-if="work[0].puntuaciones_recibidas == 0" class="glyphicon glyphicon-hourglass" style="font-size:2.0em;" aria-hidden="true"></span>
              <div ng-if="work[0].puntuaciones_recibidas > 0" data-ng-repeat="i in [1,2,3,4,5]" style="display: inline">
                <span style="font-size:2.0em;" ng-if="i<=(work[0].puntuacion_total/work[0].puntuaciones_recibidas)" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span style="font-size:2.0em;" ng-if="i>(work[0].puntuacion_total/work[0].puntuaciones_recibidas)" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Putuations</strong>
            </td>
            <td>
              {{work[0].puntuaciones_recibidas}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>Id</strong>
            </td>
            <td>
               {{work[0].obraID}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>Init-End</strong>
            </td>
            <td>
              {{work[0].fecha_inicio}}-{{work[0].fecha_fin}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>Synopsis</strong>
            </td>
            <td>
              <p>{{work[0].sinopsis}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-8">
      <div ng-if="isLogged">
        <h2>Your review</h2>
        <div class="well well-sm">{{myReview.texto}}</div>
        <form>
          <textarea placeholder="Write here your review" rows="5" type="text" class="form-control" ng-model="$parent.textReview"></textarea>
          <br/>
          <button type="submit" class="btn btn-default" ng-click="writeReview()">Add / modify review</button>
        </form>
      </div>
      <h2>Reviews</h2>

      <div class="btn-group" role="group">
        <div><strong>Order by: </strong></div>
        <button type="button" class="btn btn-default" ng-click="order('fecha')">Fecha</button>
        <span class="sortorder" ng-show="predicate === 'fecha'" ng-class="{reverse:reverse}"></span>

        <button type="button" class="btn btn-default" ng-click="order('votos_positivos')">Votos positivos</button>
        <span class="sortorder" ng-show="predicate === 'votos_positvos'" ng-class="{reverse:reverse}"></span>

        <button type="button" class="btn btn-default" ng-click="order('votos_totales')">Votos</button>
        <span class="sortorder" ng-show="predicate === 'votos_totales'" ng-class="{reverse:reverse}"></span>

        <button type="button" class="btn btn-default" ng-click="order('puntuacion')">Puntuacion</button>
        <span class="sortorder" ng-show="predicate === 'puntuacion'" ng-class="{reverse:reverse}"></span>
      </div>
      <div>
        </br>
      </div>

      <div ng-repeat="review in reviews | orderBy:predicate:reverse">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>User id: {{review.usuarioID}}</strong>
          </div>
          <div class="panel-body">
            <strong>Text: </strong>{{review.texto}}
          </div>
          <ul class="list-group">
            <li class="list-group-item"><strong>Date: </strong>{{review.fecha}}</li>
            <li class="list-group-item"><strong>Score: </strong>
              <div ng-if="review.puntuacion != null">
                <div data-ng-repeat="i in [1,2,3,4,5]" style="display: inline">
                  <span ng-if="i<=review.puntuacion" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <span ng-if="i>review.puntuacion" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                </div>
              </div>
              <div ng-if="review.puntuacion == null">
                <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
              </div>
            </li>
            <li class="list-group-item">
              <strong>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> /
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>:
              </strong>
              {{review.votos_positivos}} / {{review.votos_totales-review.votospositivos}}
            </li>
            <li class="list-group-item" ng-if="isLogged">
              <button type="submit" class="btn btn-default" ng-click="voteReview(review.criticaID,1)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
              <button type="submit" class="btn btn-default" ng-click="voteReview(review.criticaID,0)">0</button>
              <button type="submit" class="btn btn-default" ng-click="voteReview(review.criticaID,-1)"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
            </li>
            <li class="list-group-item">
              <button type="submit" class="btn btn-default" ng-click="showComments(review.criticaID)">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                 Show comments
              </button>
              <button type="submit" class="btn btn-default" ng-click="hideComments(review.criticaID)">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                 Hide comments
               </button>
              <button type="submit" class="btn btn-default" ng-click="verCommentario = true;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                 I want comment
               </button>
            </li>
            <li class="list-group-item" ng-if="verCommentario">
              <form>
                <textarea placeholder="Write here your comment" rows="3" type="text" class="form-control" ng-model="$parent.$parent.textComment"></textarea>
                <br/>
                <button type="submit" class="btn btn-default" ng-click="writeComment(review.criticaID)">Add comment</button>
              </form>
            </li>
            <li class="list-group-item" ng-if="comments[review.criticaID] != null">
              <h3>Comments</h3>
              <div ng-repeat="comment in comments[review.criticaID]">
                <div class="panel panel-success">
                  <div class="panel-body">{{comment.texto}}</div>
                  <div class="panel-body">{{comment.fecha}}</div>
                  <div class="panel-footer"><strong>User id: </strong>{{comment.usuarioID}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
