table                     { background: lightgrey; }
table tr:nth-of-type(odd) { background: #EFEFF5; }
table tr:hover            { background: #4DA5FF; }

ul#menu li
{
   display: inline;
}

ul#menu li:first-child:after
{
  content: ": ";
}

ul#menu li:after
{
  content: ", ";
}

ul#menu li:last-child:after
{
    content: "";
}

li#italic
{
   font-style: italic;
}
