.centered
{
   text-align:center;
}

.centered ul
{
   display:inline-block;
}

.table td
{
   border-top: none !important;
}

.most-rated                         { background: #C8CDF0; }
.most-rated tr:nth-of-type(odd)     { background: #EFEFF5; }

.most-reviewed                      { background: #B1C5FF; }
.most-reviewed tr:nth-of-type(odd)  { background: #EFEFF5; }

.new-arrivals                       { background: #BCD1F7; }
.new-arrivals tr:nth-of-type(odd)   { background: #EFEFF5; }

table td:hover                      { background: #4DA5FF; }

ul#menu li
{
   display: inline;
}

ul#menu li:first-child:after
{
  content: ": ";
}

ul#menu li:after
{
  content: ", ";
}

ul#menu li:last-child:after
{
    content: "";
}

li#italic
{
   font-style: italic;
}
