#most-rated
{
   border-radius: 25px;
   background: gold;
   text-align: center;
   width: 25%;
   height: 300px;
   float: left;
   position: relative;
   left: 5%;
   display: inline;
}

#most-searched
{
   border-radius: 25px;
   background: brown;
   text-align: center;
   width: 25%;
   height: 300px;
   float: left;
   //float: right;
   position: relative;
   left: 10%;
}

table
{
   clear: both;
   text-align: center;
   border: inherit;
   background-color: white;
   border: "1";
   width: "1";
   cellspacing: "1";
   cellpadding: "1";
   align: center;
}