.bubble
{
   background-color: black;
   min-height: 50px;
   width: 200px;
   padding: 10px 10px;
   border-radius: 15px;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.mark
{
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-right: 10px solid black;
   position: relative;
   left: -210px;
   top: 5px;
}
