<!DOCTYPE html>

<html ng-app="anime">
   <head>
      <title>Elementos de inicio</title>
      <link rel="stylesheet" href="styles/start.css"/>
      <script type="text/javascript" src="scripts/angular.js"></script>
      <script type="text/javascript" src="scripts/angular-cookies.js"></script>
      <script type="text/javascript" src="scripts/app.js"></script>
   </head>

   <body ng-controller="AudiovisualInformation as anime">
      <div id="most-rated">
         <table align="center">
            <thead><h3>Mas valoradas</h3></thead>
            <tr ng-repeat="work in anime.works">
               <td>{{ work.title}}</td>
               <td>{{ work.start_year}}</td>
            </tr>
         </table>
      </div>

      <div id="most-searched">
         <table align="center">
            <thead><h3>Mas buscadas</h3></thead>
            <tr ng-repeat="work in anime.works | orderBy : 'start_year'">
               <td>{{ work.title}}</td>
               <td>{{ work.start_year}}</td>
            </tr>
         </table>
      </div>
   </body>
</html>
