<!DOCTYPE html>

<section>
   <h6> {{ work.title }} </h6>
   <p ng-show="work.start_year"> {{ work.start_year }} </p>
   <p ng-show="work.end_year"> {{ work.end_year }} </p>
   <p> Director(s): </p>
   <ul>
      <li ng-repeat="director in work.directors">
         <p style="font-style: italic"> {{ director.name }} </p>
      </li>
   </ul>
   <p> Cast: </p>
   <ul>
      <li ng-repeat="role in work.cast">
         <p> {{ role.name }} </p>
      </li>
   </ul>
   <p> Categories: </p>
   <ul>
      <li ng-repeat="categorie in work.categories">
         <p> {{ categorie.name }} </p>
      </li>
   </ul>
</section>
